
body{
align-items: center;
}


#clock{
    color:rgb(253, 253, 253);
    background-color: rgb(151, 233, 165);
    width: 300px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 30px solid;
    border-color: rgba(23, 6, 53, 0.37);
    align-items: center;

}