*{
margin:0;
padding:0;
box-sizing:border-box;
list-style-type:none;
text-decoration:none;
outline:0;


}

.main{

    font-size: 10px;
    font-style: normal;
   text-align: center;
    box-shadow: 50px;
    border-radius: 25px;
    background-color: bisque;
    border: 3px solid green;
    height: 600px;
    width:400px;
    float:right;
    
}
.main .logo{
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    color: rgb(121, 18, 18);
    text-shadow: 0.5 0.7 0.9;

}

<!--Ba--->
form{
    background-size:25px;
background-position-x: right;
    text-align: center;
    box-sizing: border-box;
    
}

.main .task{
    
    height: 150px;
    width: 250px;
    align-items:center;
    text-align: center;
    display: block;
    position:absolute;
    right: 50px;
    border-radius: 30px;
    border:3px solid pink;
    border-color:rgb(121, 18, 18);
    background-color:aliceblue;
    
}

/* .main2{

    font-size: 10px;
    font-style: normal;
   text-align: center;
    box-shadow: 50px;
    border-radius: 25px;
    background-color: bisque;
    border: 3px solid green;
    height: 600px;
    width:400px;
    float:left;
}

.main .task2{
    
    height: 150px;
    width: 250px;
    align-items:center;
    text-align: center;
    display: block;
    position:absolute;
    right: 50px;
    border-radius: 30px;
    border:3px solid pink;
    border-color:rgb(121, 18, 18);
    background-color:aliceblue;
    
}
 */
