*{
margin:0;
padding:0;
box-sizing:border-box;
list-style-type:none;
text-decoration:none;
outline:0;
background-color: aqua;

}

.main{

    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
}
.main #logo{
    font-size: 30px;
    font-style: initial;
    font-weight: 100;
    color: chocolate;
    text-shadow: 0.5 0.7 0.9;
}

<!--Ba--->
form{
    background-size:25px;
background-position-x: right;
    text-align: center;
    box-sizing: border-box;
    
}
